# Example Reading CSV Data
## Copyright (C) Princeton Consultants, 2017
### Import pandas library

In [1]:
import pandas as pd

### Read in CSV file, indicating that first 2 columns are the indices

In [2]:
mrdf = pd.read_csv('01.tidysteel.csv', index_col=[0,1])
mrdf

         market  revenue
PROD  T
bands 1    6000       25
coils 1    4000       30
bands 2    6000       26
coils 2    2500       35
bands 3    4000       27
coils 3    3500       37
bands 4    6500       27
coils 4    4200       39

### Look at the index as a list

In [3]:
list(mrdf.index)

[('bands', 1),
 ('coils', 1),
 ('bands', 2),
 ('coils', 2),
 ('bands', 3),
 ('coils', 3),
 ('bands', 4),
 ('coils', 4)]

### Look at the unique values corresponding to the index name 'PROD'

In [4]:
set(mrdf.index.get_level_values('PROD'))

{'bands', 'coils'}

### Look at the unique values corresponding to the index name 'T'

In [5]:
set(mrdf.index.get_level_values('T'))

{1, 2, 3, 4}

In [6]:
mrdf.index.get_level_values('PROD')

Index(['bands', 'coils', 'bands', 'coils', 'bands', 'coils', 'bands', 'coils'], dtype='object', name='PROD')